---
import Layout from "../../layouts/Layout.astro";
import { getCollection } from "astro:content";

export async function getStaticPaths() {
  const exhibitions = await getCollection("exhibitions");

  return exhibitions.map((exh) => ({
    params: { slug: exh.id },
    props: { exh },
  }));
}

const { exh } = Astro.props;
---

<Layout
  breadcrumb={[
    { label: "Home", href: "/" },
    { label: "Exhibitions", href: "/exhibitions" },
    { label: exh.data.artist, href: "#" },
  ]}
>
  <h1>{exh.data.title}</h1>

  <a href={`/artists/${exh.data.artist}`}>View Artist</a>

  <p>
    {new Date(exh.data.startDate).toLocaleDateString("en-CA")}
    -
    {new Date(exh.data.endDate).toLocaleDateString("en-CA")}
  </p>

  {exh.data.image && <img src={exh.data.image} alt={exh.data.title} />}
</Layout>