---
import { getCollection } from "astro:content";
import Layout from "../../layouts/Layout.astro";
import { formatDateRangeJa } from "../../utils/date";

const exhibitions = (await getCollection("exhibitions"))
  .filter((exh) => exh.id !== "test")
  .sort(
    (a, b) =>
      new Date(b.data.startDate).getTime() -
      new Date(a.data.startDate).getTime()
  );
---

<Layout title="Exhibitions | KiKi Gallery">
  <h1>Exhibitions</h1>

  {exhibitions.map((exh) => (
    <div>
      <a href={`/exhibitions/${exh.id}`}>
        <p>{exh.data.title}</p>

        <p>
          {formatDateRangeJa(
            exh.data.startDate,
            exh.data.endDate
          )}
        </p>
      </a>
    </div>
  ))}
</Layout>