---
import { getCollection } from "astro:content";
import Layout from "../../layouts/Layout.astro";

const exhibitions = (await getCollection("exhibitions"))
  .filter((exh) => exh.id !== "test")
  .sort(
    (a, b) =>
      new Date(b.data.startDate).getTime() -
      new Date(a.data.startDate).getTime()
  );
---

<Layout>
  <h1>Exhibitions</h1>

  {exhibitions.map((exh) => (
    <div>
      <a href={`/exhibitions/${exh.id}`}>
        <p>{exh.data.title}</p>
        <p>{new Date(exh.data.startDate).toLocaleDateString("en-CA")} - {new Date(exh.data.endDate).toLocaleDateString("en-CA")}</p>
      </a>
    </div>
  ))}
</Layout>