---
import { getCollection } from "astro:content";

export async function getStaticPaths() {
  const artists = await getCollection("artists");

  return artists.map((artist) => ({
    params: { slug: artist.data.slug },
    props: { artist },
  }));
}

const { artist } = Astro.props;
---

<h1>{artist.data.name}</h1>