---
import { getCollection } from "astro:content";

export async function getStaticPaths() {
  const artists = await getCollection("artists");

  return artists.map((artist) => ({
    params: { slug: artist.id },
    props: { artist },
  }));
}

const { artist } = Astro.props;
const allExhibitions = await getCollection("exhibitions");
const exhibitions = allExhibitions
  .filter((exh) => exh.data.artist === artist.data.slug)
  .sort(
    (a, b) =>
      new Date(b.data.startDate).getTime() -
      new Date(a.data.startDate).getTime()
  );
---

<h1>{artist.data.name}</h1>
 <h2>Exhibitions</h2>
<ul>
  {exhibitions.map((exh) => (
    <li>
      <a href={`/exhibitions/${exh.id}`}>
        {exh.data.title}
      </a>
      <div>
        {new Date(exh.data.startDate).toLocaleDateString("en-CA")} - {new Date(exh.data.endDate).toLocaleDateString("en-CA")}
      </div>
    </li>
  ))}
</ul> 