---
import Layout from "../../layouts/Layout.astro";
import { getCollection } from "astro:content";

const artists = await getCollection("artists");
---

<Layout
  title="Artists"
  breadcrumb={[
    { label: "Artists", href: "/artists" }
  ]}
>
  <h1>Artists</h1>

  <div class="grid">
    {
      artists.map((artist) => (
        <a href={`/artists/${artist.id}`} class="card">
          {artist.data.image && (
            <img src={artist.data.image} alt={artist.data.name} />
          )}
          <h2>{artist.data.name}</h2>
        </a>
      ))
    }
  </div>
</Layout>