/* =========================
   Intro
========================= */

.artists-intro {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  align-items: start;
  margin: 48px 0 120px;
}

.artists-title {
  font-size: clamp(1.7rem, 4vw, 1.9rem);
  line-height: 1.2;
  margin-bottom: 0.7rem;
}

.artists-medium {
  font-size: 0.9rem;
  color: #666;
}

.artists-bio-short {
  margin-bottom: 1.25rem;
}

.artists-link {
  font-size: 0.9rem;
  font-weight: 600;
  text-decoration: underline;
}

/* =========================
   Common
========================= */

.artists-title {
  font-size: clamp(1.4rem, 4vw, 1.9rem);
  line-height: 1.2;
  margin-bottom: 40px;
}

.artists-bio-text,
.artists-bio-short {
  font-size: 0.9rem;
  line-height: 2.0;
  color: #333;
}

/* =========================
   Works
========================= */

.artists-works {
  padding: 0 clamp(16px, 4vw, 80px);
  margin-top: 80px;
}

/* Card Common */
.artists-works-card {
  display: grid;
  padding-bottom: 120px;
  align-items: start;
}

.artists-works-card__item img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  display: block;
}

.artists-works-title {
  font-size: 1.1rem;
  font-weight: 600;
  line-height: 1.4;
  margin: 17px 0 7px;
}

.artists-works-meta {
  font-size: 0.8rem;
  color: #777;
}

/* Grid Common */
.artists-works-card--3-2,
.artists-works-card--1-3 {
  width: 88%;
  column-gap: 110px;
  margin: 0 auto;
}

.artists-works-card--1-left,
.artists-works-card--1-right {
  width: 60%;
}

.artists-exhibitions-empty,
.artists-works-empty {
  display: block;
  margin: 55px 0 110px;
}

/* =========================
   Works：1-3
========================= */

.artists-works-card--1-3 {
  grid-template-columns: 1.6fr 1fr;
}

/* =========================
   Works：3-2
========================= */

.artists-works-card--3-2 {
  grid-template-columns: 1fr 1.7fr;
}

/* =========================
   Works：1-left
========================= */

.artists-works-card--1-left {
  justify-content: start;
  margin-left: 230px;
}

/* =========================
   Works：1-right
========================= */

.artists-works-card--1-right {
  margin-left: auto;
  margin-right: 230px;
}

.artists-works-card--1-right figure {
  margin: 0;
}
/* =========================
   Bio
========================= */

.artists-bio {
  margin-bottom: 120px;
}

.artists-bio-layout {
  width: 84%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  margin: 0 auto;
  align-items: start;
}

.artists-bio-text {
  white-space: pre-line;
}

/* =========================
   Exhibitions
========================= */

.artists-exhibitions-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 56px;
}

.artists-exhibitions-card-title {
  font-size: 1.1rem;
  font-weight: 600;
  line-height: 1.4;
  margin: 24px 0 13px;
}

.artists-exhibitions-card-date,
.artists-exhibitions-card-venue {
  font-size: 0.9rem;
  margin-bottom: 3px;
}