/* =========================
   News Layout
========================= */

.news-index {
  width: 100%;
  padding-top: var(--page-heading-offset);
}

.news-year {
  margin-bottom: clamp(64px, 6vw, 80px);
}

/* =========================
    Year Layout
========================= */

.news-year-row {
  display: grid;
  grid-template-columns: 180px 1fr;
  column-gap: 40px;

  align-items: baseline;
}

.news-year-left {
  position: sticky;
  top: 33px;
}

.news-year-heading {
  margin: 0;

  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1;
  letter-spacing: 0.02em;
}

.news-year:last-child {
  margin-bottom: 0;
}

.news-year-right {
  width: 100%;
}

.news-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* =========================
   News Meta
========================= */

.news-meta {
  font-size: clamp(0.85rem, 1vw, 0.9rem);
  color: #666;

  line-height: 1;
}

.news-separator {
  margin: 0 6px;
}

/* =========================
    News Typography
========================= */

.news-card-title {
  font-size: clamp(1rem, 1.5vw, 1.1rem);
  font-weight: 600;
  line-height: 1.4;

  margin: clamp(15px, 3vw, 31px) 0 8px;
}

.news-excerpt {
  font-size: var(--font-size-body-reading);
  line-height: var(--line-height-body-reading);
  letter-spacing: var(--letter-spacing-body);
  color: var(--color-text-body);

  margin-bottom: clamp(58px, 6vw, 88px);
}

/* =========================
   Responsive
========================= */

/* Mobile */
@media (max-width: 767px) {
  .news-year-row {
    display: block;
  }

  .news-year-left {
    position: static;
  }

  .news-year-heading {
    margin: 0;
    margin-bottom: clamp(33px, 8vw, 48px);    
  }

  .news-card-title {
  margin-bottom: 19px;
  }
}