---
import Layout from '../layouts/Layout.astro';
---

<Layout>
  <main>
    <h1>Kiki Gallery</h1>
    <p>Contemporary & Antique Japanese Ceramics</p>

    <nav>
      <ul>
        <li><a href="/artists">Artists</a></li>
        <li><a href="/exhibitions">Exhibitions</a></li>
        <li><a href="/news">News</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/visit">Visit</a></li>
        <li><a href="https://www.kiki-shop.jp">Online Shop</a></li>
      </ul>
    </nav>
  </main>
</Layout>