---
const { items = [] } = Astro.props as {
  items: { label: string; href: string }[];
};
---

<nav aria-label="breadcrumb">
  {items.map((item, index) => (
    <span>
      {index !== 0 && " / "}
      {item.href ? (
        <a href={item.href}>{item.label}</a>
      ) : (
        item.label
      )}
    </span>
  ))}
</nav>