---
const { items } = Astro.props;
---

<nav aria-label="Breadcrumb">
  {items.map((item, index) => (
    <>
      {index !== 0 && <span> / </span>}
      {item.href ? (
        <a href={item.href}>{item.label}</a>
      ) : (
        <span>{item.label}</span>
      )}
    </>
  ))}
</nav>