---
const year = new Date().getFullYear();
---

<footer>
  <div>
    <p>© {year} KiKi</p>
  </div>

  <div>
    <a href="/privacy">Privacy Policy</a>
  </div>

  <div>
    <a 
      href="https://instagram.com/ki.ki__ki.ki/"
      target="_blank"
      rel="noopener noreferrer"
      aria-label="Instagram"
    >
      Instagram
    </a>
  </div>
</footer>